a.draftsforfriends-extend, a.draftsforfriends-extend-cancel { display: none; }
form.draftsforfriends-extend { white-space: nowrap;display:none; }
form.draftsforfriends-extend, form.draftsforfriends-extend input, form.draftsforfriends-extend select { font-size: 11px; }
th.actions, td.actions { text-align: center; }

/* Horizontal List */
.hl { padding: 0; margin: 0; list-style: none; display: block; position: relative; }
.hl > li { float: left; display: block; margin: 0; padding: 0; }
.hl > li.right { float: right; }

.hl.center { position: relative; overflow: visible; left: 50%; float: left; }
.hl.center > li { position: relative; left: -50%; }


/* Block List */
.bl { padding: 0; margin: 0; list-style: none; display: block; position: relative; }
.bl > li { display: block; margin: 0; padding: 0; float: none; }


.draftsforfriends-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E1E1E1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
}
.draftsforfriends-box .title {
	background: #f1f1f1;
	padding:5px;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#ececec), to(#f9f9f9));
	background-image: -webkit-linear-gradient(bottom, #ececec, #f9f9f9);
	background-image:    -moz-linear-gradient(bottom, #ececec, #f9f9f9);
	background-image:      -o-linear-gradient(bottom, #ececec, #f9f9f9);
	background-image: linear-gradient(to top, #ececec, #f9f9f9);
}
.draftsforfriends-box .title h3 {
	font-size: 16px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 7px 10px;
    color: #464646;
    border-bottom: #DFDFDF solid 1px;
    box-shadow: 0 1px 0 #FFFFFF;
    text-shadow: 0 1px 0 #FFFFFF;
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
}
.draftsforfriends-box .inner {
    padding: 15px;
}
.draftsforfriends-box .footer {
    background: none repeat scroll 0 0 #F5F5F5;
    border-top: 1px solid #E1E1E1;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
.draftsforfriends-box .footer ul.left {
    float: left;
}
.draftsforfriends-box .footer ul li {
    margin: 0;
    padding: 0;
}
.draftsforfriends-box .footer ul.left li {
    margin-right: 10px;
}
.draftsforfriends-box .footer ul.right {
    float: right;
}
.draftsforfriends-box .footer ul.right li {
    margin-left: 10px;
}

.draftsforfriends-box .footer-blue {
	background-color: #8CC1E9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8CC1E9), to(#72A7CF)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #8CC1E9, #72A7CF); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #8CC1E9, #72A7CF); /* Firefox 3.6-15 */
    background-image:      -o-linear-gradient(top, #8CC1E9, #72A7CF); /* Opera 11.10+ */
    background-image:         linear-gradient(to bottom, #8CC1E9, #72A7CF); /* Firefox 16+ */
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.draftsforfriends-box .footer-blue a {
	text-decoration: none;
	text-shadow: none;
}


.draftsforfriends-box h2 {
	margin: .25em 0 .75em;
	padding: 0;
}

.draftsforfriends-box h3 {
	margin: 1.5em 0 0;
	
}

.draftsforfriends-box p {
	margin-top: 0.5em;
}

.draftsforfriends-box select {
	width: 99%;
	height: auto !important;
}

.draftsforfriends-box select.time {
	width: 65%;
	height: auto !important;
}
.draftsforfriends-box button{
	width: 100% !important;
	background: #2ea2cc;
	border-color: #0074a2;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5), 0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(120,200,230,0.5), 0 1px 0 rgba(0,0,0,.15);
	color: #fff;
	text-decoration: none;
}
/* Our FAQ Section */
.draftsforfriends-faq {
	counter-reset: my-faq-counter;
}
.draftsforfriends-faq dt {
	position: relative;
	font: bold 15px Georgia;
	padding: 0px 0 10px 0;
}
.draftsforfriends-faq dt:before {
	content: counter(my-faq-counter);
	counter-increment: my-faq-counter;
	position: absolute;
	left: 0;
	top: 0;
	font: bold 20px/1 Sans-Serif;
}
.draftsforfriends-faq dd {
	margin: 0 0 25px 0;
}	
.draftsforfriends-faq dt, .draftsforfriends-faq dd {
	padding-left: 25px;
}